body {
  width: 800px;
  font-family: Verdana;
  font-size: 20px;
  color: #333;
  line-height: 1.8;
  margin: 0 auto;
}

.quiz {
  display: none;
}

label input {
  margin-right: 10px;
}

.prompt {
  margin-bottom: 40px;
}
.prompts label {
  display: block;
}

.result {
  color: red;
}
.result.correct {
  color: green;
}

input, button {
  font-size: 30px;
}

.using-verbs {
  position: absolute;
  top: 0;
  right: 0;
  width: 8%;
  min-width: 200px;
  background: #f5f5f5;
  padding: 1% 2%;
  height: 100%;
  overflow: scroll;
}
.using-verbs label {
  display: block;
}
