/* http://paletton.com/#uid=13r0u0kllllaFw0g0qFqFg0w0aF */
.tooltip {
  position: relative;
}
.tooltip:before {
  display: none;
  position: absolute;
  left: 0;
  width: 100px;
  content: attr(title);
  padding: 5px;
  background-color: #222;
  border: 1px solid #111;
  font-family: arial;
  font-size: 13px;
  border-radius: 2px;
  color: #eee;
  text-shadow: none;
  z-index: 200;
  top: calc(100% + 10px);
  opacity: 0.8;
}
.tooltip:hover:before {
  display: block;
}
body {
  width: 680px;
  font-family: Helvetica;
  font-size: 20px;
  line-height: 1.8;
  margin: 0 auto;
  background: #6e91a1;
  color: #111;
  color: #eee;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  font-size: 18px;
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 2px 2px rgba(0,0,0,0.2);
  font-size: 38px;
  margin: 60px 0 10px;
}
.pane {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 20px;
  background: rgba(0,0,0,0.1);
  margin-bottom: 20px;
}
.quiz {
  display: none;
}
label input {
  margin-right: 10px;
}
.pronoun {
  float: left;
  font-size: 30px;
  margin-right: 20px;
  line-height: 80px;
}
.prompt {
  margin-bottom: 40px;
}
.prompts label {
  display: block;
}
.result {
  font-size: 30px;
  color: #c33;
  font-weight: bold;
}
.result.correct {
  color: #008000;
}
input,
button {
  font-size: 20px;
}
input.response {
  padding: 10px;
  margin: 20px 0;
  background: #467386;
}
button {
  border-radius: 2px;
  border: none;
  background: #022636;
  padding-left: 20px;
  padding-right: 20px;
}
button:hover {
  background: #01131b;
  text-shadow: 1px 1px rgba(255,255,255,0.2);
}
button .fa.right {
  margin-left: 10px;
}
button.big {
  text-transform: uppercase;
}
.using-verbs {
  position: absolute;
  top: 0;
  right: -100%;
  width: 8%;
  min-width: 200px;
  background: rgba(0,0,0,0.2);
  padding: 1% 2%;
  height: 100%;
  overflow: scroll;
  transition: right 0.2s ease;
}
.using-verbs.active {
  right: 0;
}
.using-verbs label {
  display: block;
}
.toggle-all {
  font-weight: bold;
}
.score {
  float: right;
}
.toggle-verbs {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 1;
}
nav {
  position: absolute;
  top: 10px;
  left: 10px;
}
nav button {
  float: left;
  margin-right: 10px;
}
.translate {
  display: none;
}
.translate h2 {
  margin: 0;
}
.close-pane {
  float: right;
  cursor: pointer;
  opacity: 0.5;
}
.close-pane:hover {
  opacity: 1;
}
